<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminInquiryMapper">
	<resultMap type="adminInquiry" id="adminInquiryResultSet">
		<result column="INQUIRY_NO" property="inquiryNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="REPORT_ID" property="reportId"/>
		<result column="INQUIRY_TITLE" property="inquiryTitle"/>
		<result column="INQUIRY_CONTENT" property="inquiryContent"/>
		<result column="INQUIRY_DATE" property="inquiryDate"/>
		<result column="INQUIRY_STATUS" property="inquiryStatus"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_STATUS" property="userStatus"/>
	</resultMap>

	<select id="inquiryListCount" resultType="_int">
		SELECT COUNT(*)
		FROM INQUIRY I
		WHERE I.INQUIRY_STATUS = 'Y'
		AND ANSWER_STATUS = 'N'
	</select>
	
	<select id="selectInquiryList" resultMap="adminInquiryResultSet">
		SELECT INQUIRY_NO, USER_ID, INQUIRY_TITLE, INQUIRY_STATUS,
			   USER_STATUS
		FROM INQUIRY I
		JOIN USER_INFO USING(USER_NO)
        WHERE ANSWER_STATUS = 'N'
		ORDER BY INQUIRY_NO ASC
	</select>
	
	<select id="inquiryMsg" resultType="_int">
		SELECT COUNT(*)
		FROM INQUIRY I
		WHERE I.INQUIRY_STATUS = 'Y'
		AND ANSWER_STATUS = 'N'
	</select>
	
	<select id="mainInquiryList" resultMap="adminInquiryResultSet" parameterType="hashmap">
		SELECT * FROM (
    	SELECT ROWNUM as num, i.INQUIRY_NO,INQUIRY_TITLE
		FROM INQUIRY i
		WHERE ANSWER_STATUS = 'N'
		ORDER BY INQUIRY_NO ASC ) I
		WHERE I.num BETWEEN #{startNum} AND #{endNum}
	</select>
	

	

</mapper>